/* CSS重置 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}
ol,ul,li{list-style:none}
img{vertical-align:top;border:none;}
textarea{overflow: auto;vertical-align: top;resize:none;}
* html body{background-image:url(about:blank);background-attachment:fixed;}
body{width:auto;height:auto;_height:100%;min-height:100%;color:#666;}
body,input,textarea{font: 12px/1.5 "Microsoft Yahei",arial,Simsun;}
button,input,select,textarea {font-size:100%;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
table {border-collapse:collapse;border-spacing:0}
a{color:#666;text-decoration:none;cursor:pointer;}
a:hover{color:#2E84CA;text-decoration:underline;}
a:focus{outline:0;}
button:focus,input:focus,textarea:focus,select:focus {outline-width: 0;}
.clear{clear:both}
.c:after{content:".";display:block;font-size:0;height:0;clear:both;visibility:hidden}
.c{zoom:1}

.prolist_left {width:760px;float:left;}
.prolist_tab {margin-right:15px;border-bottom:1px solid #b8b8b8;}
.prolist_tab li {float:left;padding:0 15px;font-size:16px;line-height:44px;border-bottom:1px solid #b8b8b8;position: relative;bottom:-1px; cursor:pointer;}
.prolist_tab li.cut {border-bottom:1px solid #f63;color:#f63;}
.prolist_tab li.cut em {width:0;height:0;overflow:hidden;border:transparent dashed 6px;border-bottom:6px solid #f63;border-top:0;position:absolute;bottom:0;left:50%;margin-left:-6px;}
.prolist_cont {padding-bottom:30px;}
.prolist_cont .prolist_cont_item {border:1px solid #b8b8b8;float:left;margin:10px 15px 0 0;}
.prolist_cont li.hover {border-color:#f63;}
.prolist_cont li .default_box,.prolist_cont li.hover .current_box {display:block;}
.prolist_cont li .current_box,.prolist_cont li.hover .default_box {display:none;}
.default_box,.current_box {height: auto;}
.default_box {position: relative;}
.default_box_Img,.default_box_Img img {width: 100%;}
.default_box_text {font-size:14px;line-height:18px;padding:6px 15px 0;}
.default_box_name {position: absolute;left:15px;top:15px;font-size:30px;}
.default_box_class {position: absolute;left:15px;top:55px;font-size:16px;}

.current_box_name {line-height:48px;border-bottom:1px solid #b5b5b5;padding:0 15px;}
.current_box_name_link {float:left;font-size:18px;}
.current_box_more {float:right;}
.current_box_btn {display:block;width:160px;height:40px;margin:6px auto 0;background:#f63;color:#fff;text-align:center;font-size:18px;line-height:40px;}
.current_box_btn:hover {text-decoration:none;background:#f30;color:#fff;}
.current_box_list {background:#f7f7f8;padding:9px 15px 0;height:140px;}
.current_box_list li {width:100%;float:left;line-height:26px;border-bottom:1px solid #fff;font-size:14px;}
.current_box_list p {float:right;text-align:right;width:180px;font-size:14px;}
.current_box_list p.f12 {font-size:12px;line-height:18px;}

.resident_box li,.resident_box_price_pinjia,.prolist_right02 li {background:url(/app_images/4008000000/v20/zaixiangoumai/baoxian/productList/prolist_Icon.png) no-repeat;}
.resident_box {border-top:1px solid #d2d2d2;padding:10px 15px 0;}
.resident_box ul {float:left;}
.resident_box li {line-height:24px;background-position:0 3px;padding-left:25px;}
.resident_box .ul_four li {line-height:18px;background-position:0 0px;padding-left:25px;}
.resident_box .resident_box_price {float:right;text-align:right;}
.resident_box_price_num {font-size:36px;color:#f63;font-family:arial;}
.resident_box_price_pinjia {background-position:0 -50px;padding-left:25px;}
.resident_box_price_pinjia:hover {text-decoration:none;}




























