/**
@size:实际大小 单位：px
@unit:转换后有单位 默认rem
@step:转换基数 默认37.5
*/

@charset "utf-8";
html,body,div,ul,ol,li,dd,dt,dl,p,h3,h4,span,input,textarea,select,option,table,
tr,td,header,footer,section{padding:0; margin:0; box-sizing:border-box;
              -o-box-sizing:border-box; -ms-box-sizing:border-box;
              -moz-box-sizing:border-box; 
              -webkit-box-sizing:border-box;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:'Microsoft YaHei'; width:100%; height:100%; min-width:320px;
  color:#333; -moz-text-size-adjust:none; -webkit-text-size-adjust:none; 
  text-size-adjust:none; font-size:14px;}
img{border:none;}
ul,li{list-style-type:none;}
input{outline:none;background:none;}
a{text-decoration:none; color:#000;}
.clear{display:block; overflow:hidden; clear:both; height:0;
    line-height:0; font-size:0;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.fl{float:left; display:block;}
.fr{float:right; display:block;}
.hide{display:none;}
.table{display:table; width:100%;}
.t_cell{display:table-cell; vertical-align:middle;}
.t_row{display:table-row;}

ul, ol, li, p, div, h1, h2, h3, h4, h5{list-style:none;margin: 0;padding: 0;font-weight: 400;}
@media screen and (min-width:300px){html,body,input{font-size:17px;}}
@media screen and (min-width:320px){html,body,input{font-size:18px;}}
@media screen and (min-width:340px){html,body,input{font-size:19px;}}
@media screen and (min-width:360px){html,body,input{font-size:19px;}}
@media screen and (min-width:375px){html,body,input{font-size:19px;}}
@media screen and (min-width:380px){html,body,input{font-size:19px;}}
@media screen and (min-width:400px){html,body,input{font-size:20px;}}
@media screen and (min-width:414px){html,body,input{font-size:20.7px;}}
@media screen and (min-width:420px){html,body,input{font-size:21px;}}
@media screen and (min-width:440px){html,body,input{font-size:22px;}}
@media screen and (min-width:460px){html,body,input{font-size:22px;}}
@media screen and (min-width:480px){html,body,input{font-size:22px;}}
@media screen and (min-width:500px){html,body,input{font-size:22px;}}
@media screen and (min-width:520px){html,body,input{font-size:22px;}}
@media screen and (min-width:540px){html,body,input{font-size:22px;}}
@media screen and (min-width:560px){html,body,input{font-size:22px;}}
@media screen and (min-width:580px){html,body,input{font-size:22px;}}
@media screen and (min-width:600px){html,body,input{font-size:22px;}}
@media screen and (min-width:620px){html,body,input{font-size:22px;}}
@media screen and (min-width:640px){html,body,input{font-size:22px;}}
@media screen and (min-width:750px){html,body,input{font-size:22px;}}
@media screen and (min-width:760px){html,body,input{font-size:22px}}
@media screen and (min-width:780px){html,body,input{font-size:22px}}
@media screen and (min-width:800px){html,body,input{font-size:22px}}
@media screen and (min-width:1024px){html,body,input{font-size:22px}}
@media screen and (min-width:1349px){html,body,input{font-size:22px}}
input,a,button,label,span,select{-webkit-tap-highlight-color:rgba(0,0,0,0);cursor:pointer;}
select{direction:rtl;}
::-webkit-input-placeholder{color: #bbb;font-family: "微软雅黑";}
.succe_wrap .succe_con .f_form ul li:nth-child(1) input::-webkit-input-placeholder{color: #bbb;font-family: "微软雅黑";}
::-moz-placeholder{color: #bbb;font-family: "微软雅黑";}
::-ms-input-placeholder{color: #bbb;font-family: "微软雅黑";}
/*页面开始*/body{/*max-width: 1024px;*/display: block;font-family: "微软雅黑";font-size: 0.74666667rem;margin: 0 auto;background: #ededed;}
/*公共类*/.font_w{font-weight: bold;}
/*index开始*/.banner{width: 100%;height: 6.93333333rem;margin: 0 auto;position: relative;overflow: hidden;}
.banner .hd{width: 100%;height: 0.29333333rem;position: absolute;z-index: 1;bottom: 0.21333333rem;text-align: center;}
.banner .hd ul{display: inline-block;padding: 0 0.13333333rem;font-size: 0;vertical-align: top;}
.banner .hd ul li{display: inline-block;width: 0.21333333rem;height: 0.21333333rem;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;background: rgba(0, 0, 0, 0.3);margin: 0.08rem;vertical-align: top;overflow: hidden;}
.banner .hd ul .on{background: #fff;}
.banner .bd{position: relative;height: 6.93333333rem;z-index: 0;}
.banner .bd li img{width: 100%;/*height: 6.93333333rem;*/}
.banner .bd li a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.app_f{height: 4.26666667rem;background: #fff;}
.app_f a{width: 25%;height: 4.26666667rem;float: left;}
.app_f a div{height: 25%;}
.app_f a div img{width: 2.25333333rem;height: 2.25333333rem;display: block;margin: 0 auto;margin-top: 0.61333333rem;margin-bottom: 0.26666667rem;}
.app_f a div p{height: 1.06666667rem;line-height: 1.06666667rem;font-size: 0.74333333rem;text-align: center;color: #666666;}
.title{height: 1.7rem;margin-top: 0.53333333rem;border-top: 1px solid #f6c88c;background: #fff;}
.title .hot{width: 3.49333333rem;height: 1.65333333rem;line-height: 1.65333333rem;font-size: 0.58666667rem;text-align: center;color: #ffffff;float: left;background: url("../app_img/title_img1.png") no-repeat;background-size: 100%;}
.title .hot_t{background: url("../app_img/title_img2.png") no-repeat;background-size: 100%;margin: 0;overflow: hidden;}
.title a{height: 1.33333333rem;float: right;}
.title a span{height: 1.33333333rem;line-height: 1.33333333rem;float: right;font-size: 0.69333333rem;}
.title a i{width: 0.64rem;height: 0.64rem;background: red;float: right;margin-top: 0.34666667rem;margin-left: 0.29333333rem;margin-right: 0.53333333rem;background: url("../app_img/button.png") no-repeat;background-size: 100%;}
.condiv{width: 100%;height: 6.77333333rem;overflow: hidden;border-top: 0;border-bottom: 1px solid #e8e7ec;background: #fff;margin: 0;overflow: hidden;}
.condiv .left{width: 50%;height: 6.77333333rem;float: left;overflow: hidden;}
.condiv .left img{width: 4.10666667rem;height: 5.73333333rem;float: left;margin-left: 1.5rem;margin-top: 1.04rem;}
.condiv .left .font{width: 4.8rem;width: 5.33333333rem;float: left;margin-left: 4.5rem;margin-top: -6.83333333rem;}
.condiv .left .font h4{font-size: 0.90666667rem;}
.condiv .left .font p{font-size: 0.64rem;}
.condiv .right{width: 50%;height: 6.77333333rem;float: left;border-left: 1px solid #e8e7ec;overflow: hidden;box-sizing: border-box;}
.condiv .right .app_top{height: 3.14666667rem;border-bottom: 1px solid #e8e7ec;box-sizing: border-box;}
.condiv .right .app_top img{width: 2.64rem;height: 2.64rem;float: left;margin-right: 0.96rem;margin-left: 1.04rem;}
.condiv .right .app_top h4{width: 5.22666667rem;height: 1.6rem;line-height: 1.6rem;font-size: 0.90666667rem;float: left;}
.condiv .right .app_top p{width: 5.22666667rem;height: 0.96rem;line-height: 0.96rem;font-size: 0.64rem;float: left;}
.condiv .right .app_bottom{height: 3.62666667rem;box-sizing: border-box;}
.condiv .right .app_bottom img{width: 2.64rem;height: 2.64rem;float: left;margin-top: 0.61333333rem;margin-right: 0.96rem;margin-left: 1.04rem;}
.condiv .right .app_bottom h4{width: 5.22666667rem;height: 1.44rem;line-height: 1.44rem;font-size: 0.90666667rem;float: left;margin-top: 0.61333333rem;}
.condiv .right .app_bottom p{width: 5.22666667rem;height: 0.96rem;line-height: 0.96rem;font-size: 0.64rem;float: left;}
.condiv_tow{width: 100%;height: 5.97333333rem;border-bottom: 1px solid #e8e7ec;overflow: hidden;background: #fff;}
.condiv_tow img{width: 5.86666667rem;height: 5.38666667rem;float: left;margin-left: 1.2rem;}
.condiv_tow dl{width: 12rem;height: 5.97333333rem;float: right;}
.condiv_tow dl dt{height: 1.28rem;line-height: 1.28rem;font-size: 0.90666667rem;font-weight: bold;}
.condiv_tow dl dd{line-height: 1.01333333rem;font-size: 0.64rem;}
.condiv_tow dl dd span{width: 0.58666667rem;height: 0.58666667rem;float: left;margin-top: 0.26666667rem;margin-right: 0.26666667rem;background: url("../app_img/hook.png") no-repeat;background-size: 100%;}
/*list_page开始*/.nav_wrap{margin-bottom: 0.26666667rem;background: #fff;}
.nav{width: 18.93333333rem;width: 95%;/*height: 2.72rem;*/height: 2.4rem;margin: 0 auto;}
.nav p{width: 20%;/*height: 2.72rem;*/height: 2.4rem;float: left;}
.nav p span{width: 100%;height: 2.4rem;line-height: 2.4rem;text-align: center;display: block;color: #666666;}
.nav p i{width: 0.42666667rem;height: 0.21333333rem;margin: 0 auto;background: url("../app_img/triangle.png") no-repeat;background-size: 100%;display: none;}
.nav .on span{color: #fff;background: #ff6600;}
.nav .on i{display: block;}
.content section{display: none;}
.content .all .details{height: 5.86666667rem;margin-bottom: 0.34666667rem;overflow: hidden;background: #fff;}
.content .all .details .left{width: 6.69333333rem;height: 5.86666667rem;float: left;}
.content .all .details .right{height: 5.86666667rem;float: left;margin-left: 1.03333333rem;margin-right: 0.53333333rem;}
.content .all .details .right h3{height: 1.41333333rem;line-height: 1.17333333rem;font-size: 0.74666667rem;margin-top: 0.53333333rem;}
.content .all .details .right p{height: 1.6rem;line-height: 0.8rem;color: #666666;}
.content .all .details .right .money{height: 2.05333333rem;line-height: 2.38666667rem;font-size: 0.69333333rem;overflow: hidden;}
.content .all .details .right .money span{font-size: 0.69333333rem;line-height: 2.38666667rem;/*line-height: 2.05333333rem;font-size: 1.28rem;*/color: #ff6600;margin-right: 0.26666667rem;float: left;}
.content .all .details .right .money span i{line-height: 2.05333333rem;font-size: 1.28rem;font-style: normal;margin-right: 0.2rem;float: left;}
.content .on{display: block;}
